{% extends '../layouts/_account.twig' %}

{% import '../mixins/_product.twig' as mp %}

{% block vars %}
  
    {% set page = {
      title: 'Favorites'
    } %}

    {% set profileActivePage = 2 %}
{% endblock %}

{% block account %}
<div class="uk-grid-collapse tm-products-list" uk-grid>
    {% for product in products %}
      {% if product.isAddedToFavorites %}
        {{ mp.product(product) }}
	  {% endif %}
	{% endfor %}
</div>
{% endblock %}