{% block vars %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include '../partials/_head.twig' %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500">
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/uikit.js"></script>
    <script src="scripts/uikit-icons.js"></script>
</head>

<body>
    <div class="uk-offcanvas-content">


      {% block index %}{% endblock %}


	</div>
    <script src="scripts/script.js"></script>
    {#<script src="//maps.googleapis.com/maps/api/js?key=000&amp;callback=initMap" async defer></script>#}
</body>

</html>