{% extends '_pages.twig' %}

{% block vars %}
{% endblock %}

{% block pages %}

<div class="uk-grid-medium" uk-grid>
    <section class="uk-width-1-1 uk-width-expand@m">
    {# Content #}
      {% block informational %}{% endblock %} 
	</section>
	
    {# Navigation #}
	<aside class="uk-width-1-4 uk-visible@m tm-aside-column">
		<section class="uk-card uk-card-default uk-card-small" uk-sticky="offset: 90; bottom: true;">
			<nav>
				<ul class="uk-nav uk-nav-default tm-nav">
				  {% for item in informationalNav %}
					<li{% if item.id == informationalActivePage %} class="uk-active"{% endif %}><a href="{{item.href}}">{{item.title}}</a></li>
				  {% endfor %}
				</ul>
			</nav>
		</section>
	</aside>
</div>

{% endblock %}